.content{
    background-image: url("../assets/bg2.jpg"); 
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255, 255, 0.9);
}


.title{
    font-size: 25px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; /* Example background color */
  padding: 10px;
}


.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  flex-grow: 1; /* Allow content to grow to fill space */
}

.navbar-content div:nth-child(2) { /* Select the second div (title) */
  font-weight: bold;
  text-align: center; /* Ensure text is centered */
  flex-grow: 1; /* Allow title to grow and center */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 30px;
  margin-right: 10px;
}

.logout-container {
  margin-left: auto; /* Push logout button to the right */
}


.page-container {
  min-height: calc(100vh - 100px); /* Adjust based on your header and footer height */
  padding: 20px;
}

/* .page-container {
  display: flex;
  min-height: 100vh; 
} */

.content {
  flex-grow: 3;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  border-top: 1px solid #ddd;
}

.footer p {
  margin: 0;
  color: #333;
}

.logout {
  background-color: #dc3545;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;
  border: 1px solid #140505;
  font-weight:400;
  text-transform: uppercase;
  box-shadow: 0 4px #999;
  transition: all 0.3s ease;
}

.logout:hover {
  background-color: #c82333;
  border-color: #777;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.logout:active {
  background-color: #222;
  border-color: #444;
  box-shadow: 0 1px #333;
  transform: translateY(3px);
}

.logout a {
  color: white;
  text-decoration: none;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}